<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
</head>
<body>


<div class="row">
  <h1>Forgot Password</h1>
  <h6 class="information-text" style="color: #2e2e2e">Enter your registered email to reset your password.</h6>
  <div class="form-group" [formGroup]="emailForm">
    <input type="email" name="user_email" id="user_email" formControlName="email">
    <p><label>Email</label></p>
    <button (click)="sendToEmail($event)">Send Link to your email to  change your password</button>
  </div>
  <div class="footer">
    <h5>New here? <a href="register">Sign Up.</a></h5>
    <h5>Already have an account? <a href="/login">Sign In.</a></h5>
  </div>

  <div class="text" style="display: none">
    <p>Send it to your email!</p>
  </div>

</div>


</body>
</html>
